# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# PyCharm project files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebooks for development
MISO Hourly Pull.ipynb
Nuclear Locations Dev.ipynb
Battery Capacity dev.ipynb
MISO Queue Dev.ipynb
miso_annual_pull.ipynb
Energy Consumption dev.ipynb

# Generator database
duckdb_storage/dev.duckdb
duckdb_storage/generator_database.duckdb
duckdb_storage/prod.duckdb

# Log files
*.log

# Test coverage reports
*.coverage
.coverage.*
.tox/
.nox/
.hypothesis/
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
*.sublime-workspace
*.sublime-project

# .env
.env

# dbt files
generator_dbt_project/target/
generator_dbt_project/dbt_packages/
generator_dbt_project/logs/
