# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# PyCharm project files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebooks for development
MISO Hourly Pull.ipynb
Nuclear Locations Dev.ipynb
Battery Capacity dev.ipynb
MISO Queue Dev.ipynb

# Generator database
generator_database.duckdb

# Log files
*.log

# Test coverage reports
*.coverage
.coverage.*
.tox/
.nox/
.hypothesis/
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
*.sublime-workspace
*.sublime-project

# .env
.env